$blue-0: #f3f7fb;
$blue-1: #d6e3f5;
$blue-2: #9cbbe3;
$blue-3: #79a3da;
$blue-4: #5f93d6;
$blue-5: #3b73bb;
$blue-6: #2665b7;
$blue-7: #265bb7;
$blue-8: #112d52;
$blue-9: #0c1f38;

$grey-0: #fcfcfc;
$grey-1: #f2f3f5;
$grey-2: #e8e9eb;
$grey-3: #dee1e5;
$grey-4: #c7cad1;
$grey-5: #828a99;
$grey-6: #3e4759;
$grey-7: #2c3442;
$grey-8: #1b2029;
$grey-9: #0a0c0f;

$gold: #ebb050;
$green: #2fbea9;
$red: #e8615a;
$toast-green: #1ea97c;
$toast-red: #ff5757;
$toast-blue: #696cff;
$toast-yellow: #cc8925;

:root {
  --blue-0: #{$blue-0};
  --blue-1: #{$blue-1};
  --blue-2: #{$blue-2};
  --blue-3: #{$blue-3};
  --blue-4: #{$blue-4};
  --blue-5: #{$blue-5};
  --blue-6: #{$blue-6};
  --blue-7: #{$blue-7};
  --blue-8: #{$blue-8};
  --blue-9: #{$blue-9};

  --grey-0: #{$grey-0};
  --grey-1: #{$grey-1};
  --grey-2: #{$grey-2};
  --grey-3: #{$grey-3};
  --grey-4: #{$grey-4};
  --grey-5: #{$grey-5};
  --grey-6: #{$grey-6};
  --grey-7: #{$grey-7};
  --grey-8: #{$grey-8};
  --grey-9: #{$grey-9};

  --gold: #{$gold};
  --green: #{$green};
  --red: #{$red};
  --toast-green: #{$toast-green};
  --toast-red: #{$toast-red};
  --toast-blue: #{$toast-blue};
  --toast-yellow: #{$toast-yellow};
}
