.dateValue {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: inherit;
  font-size: inherit;
}

.time {
  font-size: 0.75rem;
  white-space: nowrap;
  color: var(--grey-8, #1b2029);
}
