.headerSection {
  width: 100%;
  margin-bottom: 0.75rem;
}

.headerRow {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 0.75rem;
}

.titleRow {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-left: 0.5rem;
}

.actions {
  margin-left: auto;
}

.content {
  margin-top: 0.5rem;
}
