.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  white-space: nowrap;
}

.badgeTable {
  border: 0;
  color: var(--grey-6, #3e4759);
  background: var(--grey-2, #e8e9eb);
  height: 1.5rem;
}

.badgeCard {
  border: 1px solid var(--grey-6, #3e4759);
  color: var(--grey-6, #3e4759);
  background: transparent;
  height: auto;
  line-height: 1.5rem;
}
