$brand-grey-600: #596168;

.back-button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $brand-grey-600;
  cursor: pointer;
}
