.contact {
  border-bottom: 1px solid $grey-1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .type {
    color: $grey-2;
  }
}

.contact-cell {
  font-size: 14px;

  .value {
    color: black;
    font-weight: bold;
  }
}
